@use "node_modules/lkt-theme/lkt-theme";

$border-width: 1px !default;
$border-style: solid !default;
$border-color: #ddd !default;
$font-weight: 300 !default;
$line-height: 1 !default;
$text-align: center !default;
$cursor: default !default;
$box-shadow: none !default;
$color: #333 !default;
$background: transparent !default;
$height: 35px !default;
$min-width: 150px !default;
$padding: 7px !default;
$slot-gap: 5px !default;
$border-radius: lkt-theme.$primary-border-radius !default;
$transition: lkt-theme.$primary-transition !default;
$font-size: lkt-theme.$primary-button-font-size !default;
$font-family: lkt-theme.$primary-button-font-family !default;

@mixin configure($opts: ()) {
  @if map-get($opts, border-width) {
    $border-width: map-get($opts, border-width) !global;
  }
  @if map-get($opts, border-style) {
    $border-style: map-get($opts, border-style) !global;
  }
  @if map-get($opts, border-color) {
    $border-color: map-get($opts, border-color) !global;
  }
  @if map-get($opts, border-color-hover) {
    $border-color-hover: map-get($opts, border-color-hover) !global;
  }
  @if map-get($opts, border-radius) {
    $border-radius: map-get($opts, border-radius) !global;
  }
  @if map-get($opts, height) {
    $height: map-get($opts, height) !global;
  }
  @if map-get($opts, min-width) {
    $min-width: map-get($opts, min-width) !global;
  }
  @if map-get($opts, transition) {
    $transition: map-get($opts, transition) !global;
  }
  @if map-get($opts, background) {
    $background: map-get($opts, background) !global;
  }
  @if map-get($opts, background-hover) {
    $background-hover: map-get($opts, background-hover) !global;
  }
  @if map-get($opts, padding) {
    $padding: map-get($opts, padding) !global;
  }
  @if map-get($opts, font-size) {
    $font-size: map-get($opts, font-size) !global;
  }
  @if map-get($opts, font-weight) {
    $font-weight: map-get($opts, font-weight) !global;
  }
  @if map-get($opts, line-height) {
    $line-height: map-get($opts, line-height) !global;
  }
  @if map-get($opts, text-align) {
    $text-align: map-get($opts, text-align) !global;
  }
  @if map-get($opts, cursor) {
    $cursor: map-get($opts, cursor) !global;
  }
  @if map-get($opts, box-shadow) {
    $box-shadow: map-get($opts, box-shadow) !global;
  }
  @if map-get($opts, color) {
    $color: map-get($opts, color) !global;
  }
  @if map-get($opts, color-hover) {
    $color-hover: map-get($opts, color-hover) !global;
  }
  @if map-get($opts, font-family) {
    $font-family: map-get($opts, font-family) !global;
  }
  @if map-get($opts, slot-gap) {
    $slot-gap: map-get($opts, slot-gap) !global;
  }
}

@mixin __generate-color-style($color, $contrast){
  color: $color;
  background: $contrast;
  border-color: $color;

  &:hover {
    background: $color;
    color: $contrast;
  }
}

@mixin generate() {
  // Fix default lkt-theme vars
  @if($border-radius == 0) {
    $border-radius: lkt-theme.$primary-border-radius !global;
  }
  @if($transition == false) {
    $transition: lkt-theme.$primary-transition !global;
  }
  @if($font-size == false) {
    $font-size: lkt-theme.$primary-button-font-size !global;
  }
  @if($font-family == false) {
    $font-family: lkt-theme.$primary-button-font-family !global;
  }

  .lkt-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color;
    box-shadow: $box-shadow;
    cursor: $cursor;
    text-align: $text-align;
    transition: $transition;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
    min-width: $min-width;
    background: $background;
    padding: $padding;
    min-height: $height;

    &__prev {
      margin-right: $slot-gap;
    }

    &__next {
      margin-left: $slot-gap;
    }

    $colors: lkt-theme.get-color-map();
    @each $code, $palette in $colors {
      $color: map-get($palette, color);
      $contrast: map-get($palette, contrast);

      &--#{$code} {
        @include __generate-color-style($color, $contrast);
      }
    }

    @if lkt-theme.$disabled-color {
      &:disabled {
        cursor: not-allowed;
        @include __generate-color-style(lkt-theme.$disabled-color, lkt-theme.$disabled-color-contrast);
      }
    }
  }
}