.lkt-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    box-shadow: var(--button-shadow);
    cursor: default;
    text-align: center;
    transition: var(--button-transition);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-color: var(--button-border-color);
    min-width: var(--button-min-width);
    min-height: var(--button-min-height);
    padding: var(--button-padding);
    gap: var(--button-gap);
}

.lkt-button--alert {
    color: var(--alert-color);
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-button--alert:hover {
    background: var(--alert-color);
    color: var(--alert-contrast);
}

.lkt-button--danger {
    color: var(--danger-color);
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-button--danger:hover {
    background: var(--danger-color);
    color: var(--danger-contrast);
}

.lkt-button--success {
    color: var(--success-color);
    background: var(--success-contrast);
    border-color: var(--success-color);
}

.lkt-button--success:hover {
    background: var(--success-color);
    color: var(--success-contrast);
}

.lkt-button--info {
    color: var(--info-color);
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-button--info:hover {
    background: var(--info-color);
    color: var(--info-contrast);
}

.lkt-button--warning {
    color: var(--warning-color);
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-button--warning:hover {
    background: var(--warning-color);
    color: var(--warning-contrast);
}

.lkt-button--target {
    color: var(--target-color);
    background: var(--target-contrast);
    border-color: var(--target-color);
}

.lkt-button--target:hover {
    background: var(--target-color);
    color: var(--target-contrast);
}

.lkt-button:disabled {
    cursor: not-allowed;
    color: var(--disabled-contrast);
    background: var(--disabled-color);
    border-color: var(--disabled-color);
}

.lkt-button:disabled:hover {
    color: var(--disabled-contrast);
    background: var(--disabled-color);
}

.lkt-button:focus {
    outline: 0;
    border: var(--button-border-width) var(--button-border-style) var(--focus-color);
    box-shadow: 0 0 0 2px var(--focus-color);
}

.lkt-button:active {
    outline: 0;
    border: var(--button-border-width) var(--button-border-style) var(--focus-color);
    box-shadow: 0 0 0 2px var(--focus-color);
}