.lkt-button {
    display: var(--lkt-button--container--display, inline-flex);
    position: var(--lkt-button--container--position, relative);
    width: var(--lkt-button--container--width, auto);
}

.lkt-button-main {
    display: var(--lkt-button--display, flex);
    align-items: var(--lkt-button--align-items, center);
    justify-content: var(--lkt-button--justify-content, center);
    cursor: default;
    text-align: var(--lkt-button--text-align);
    color: var(--lkt-button--color);
    background: var(--lkt-button--background);
    box-shadow: var(--lkt-button--box-shadow);
    transition: var(--lkt-button--transition);
    font-family: var(--lkt-button--font-family), serif;
    font-size: var(--lkt-button--font-size);
    font-weight: var(--lkt-button--font-weight);
    line-height: var(--lkt-button--line-height);
    border-radius: var(--lkt-button--border-radius);
    border-width: var(--lkt-button--border-width);
    border-style: var(--lkt-button--border-style);
    border-color: var(--lkt-button--border-color);
    min-width: var(--lkt-button--min-width);
    min-height: var(--lkt-button--min-height);
    width: var(--lkt-button--width, 100%);
    padding: var(--lkt-button--padding);
    gap: var(--lkt-button--gap);
    text-decoration: var(--lkt-button--text-decoration);
}

.lkt-button img {
    max-width: var(--lkt-button--img--max-width);
    max-height: var(--lkt-button--img--max-height);
}

.lkt-button-main:hover {
    color: var(--lkt-button--hover--color);
    background: var(--lkt-button--hover--background);
    border-radius: var(--lkt-button--hover--border-radius, var(--lkt-button--border-radius));
    border-color: var(--lkt-button--hover--border-color);
    border-width: var(--lkt-button--hover--border-width);
    text-decoration: var(--lkt-button--hover--text-decoration);
}

.lkt-button-main:disabled {
    cursor: not-allowed;
    color: var(--lkt-button--disabled--color);
    background: var(--lkt-button--disabled--background);
    border-color: var(--lkt-button--disabled--border-color);
    box-shadow: var(--lkt-button--disabled--shadow);
}

.lkt-button-main:disabled:hover {
    color: var(--lkt-button--disabled--hover--color);
    background: var(--lkt-button--disabled--hover--background);
    border-color: var(--lkt-button--disabled--hover--border-color);
    box-shadow: var(--lkt-button--disabled--hover--shadow);
}

.lkt-button-main:focus {
    outline: 0;
    border: var(--lkt-button--focus--border-width) var(--lkt-button--focus--border-style) var(--lkt-button--focus--border-color);
    box-shadow: var(--lkt-button--focus--shadow);
}

.lkt-button-main:active {
    outline: 0;
    border: var(--lkt-button--border-width) var(--lkt-button--border-style) var(--lkt-button--focus--border-color);
    box-shadow: var(--lkt-button--focus--shadow);
}

.lkt-split-button-arrow {
    width: var(--lkt-button--split--arrow-width);
    height: 100%;
    background: var(--lkt-button--split--arrow-background);
    display: var(--lkt-button--arrow--display, flex);
    align-items: var(--lkt-button--arrow--align-items, center);
    justify-content: var(--lkt-button--arrow--justify-content, center);
}

.lkt-button .lkt-field-switch {
    --lkt-field-input-height: auto;
    margin-left: auto;
}

.lkt-button .lkt-field-switch label {
    padding-left: 30px;
}

.lkt-button .lkt-button-icon-end {
    margin-left: auto;
    display: inline-block;
}

.lkt-button--icon-dot {
    background: var(--lkt-button--dot--background);
    color: var(--lkt-button--dot--color);
    font-size: var(--lkt-button--dot--font-size);
    height: var(--lkt-button--dot--height);
    right: var(--lkt-button--dot--right);
    top: var(--lkt-button--dot--top);
    width: var(--lkt-button--dot--width);
    line-height: var(--lkt-button--dot--line-height);
    text-align: var(--lkt-button--dot--text-align);
    position: var(--lkt-button--dot--position, absolute);
    display: var(--lkt-button--dot--display, block);
    border-radius: var(--lkt-button--dot--border-radius, 100%);
    font-style: var(--lkt-button--dot--font-style, normal);
}