.lkt-button-container {
    display: inline-flex;
    position: relative;
}

.lkt-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-align: var(--lkt-btn-text-align);
    color: var(--lkt-btn-color);
    background: var(--lkt-btn-bg);
    box-shadow: var(--lkt-btn-shadow);
    transition: var(--lkt-btn-transition);
    font-family: var(--lkt-btn-font-family), serif;
    font-size: var(--lkt-btn-font-size);
    font-weight: var(--lkt-btn-font-weight);
    line-height: var(--lkt-btn-line-height);
    border-radius: var(--lkt-btn-border-radius);
    border-width: var(--lkt-btn-border-width);
    border-style: var(--lkt-btn-border-style);
    border-color: var(--lkt-btn-border-color);
    min-width: var(--lkt-btn-min-width);
    min-height: var(--lkt-btn-min-height);
    width: var(--lkt-btn-width, 100%);
    padding: var(--lkt-btn-padding);
    gap: var(--lkt-btn-gap);
    text-decoration: var(--lkt-btn-text-decoration);
}

.lkt-button img {
    max-width: var(--lkt-button-img-max-width);
    max-height: var(--lkt-button-img-max-height);
}

.lkt-button:hover {
    color: var(--lkt-btn-color-hover);
    background: var(--lkt-btn-bg-hover);
    border-radius: var(--lkt-btn-border-radius-hover, var(--lkt-btn-border-radius));
    border-color: var(--lkt-btn-border-color-hover);
    border-width: var(--lkt-btn-border-width-hover);
    text-decoration: var(--lkt-btn-text-decoration-hover);
}

.lkt-button--alert {
    color: var(--alert-color);
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-button--alert:hover {
    background: var(--alert-color);
    color: var(--alert-contrast);
}

.lkt-button--danger {
    color: var(--danger-color);
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-button--danger:hover {
    background: var(--danger-color);
    color: var(--danger-contrast);
}

.lkt-button--success {
    color: var(--success-color);
    background: var(--success-contrast);
    border-color: var(--success-color);
}

.lkt-button--success:hover {
    background: var(--success-color);
    color: var(--success-contrast);
}

.lkt-button--info {
    color: var(--info-color);
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-button--info:hover {
    background: var(--info-color);
    color: var(--info-contrast);
}

.lkt-button--warning {
    color: var(--warning-color);
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-button--warning:hover {
    background: var(--warning-color);
    color: var(--warning-contrast);
}

.lkt-button--target {
    color: var(--target-color);
    background: var(--target-contrast);
    border-color: var(--target-color);
}

.lkt-button--target:hover {
    background: var(--target-color);
    color: var(--target-contrast);
}

.lkt-button:disabled {
    cursor: not-allowed;
    color: var(--lkt-btn-color-disabled);
    background: var(--lkt-btn-bg-disabled);
    border-color: var(--lkt-btn-border-color-disabled);
    box-shadow: var(--lkt-btn-shadow-disabled);
}

.lkt-button:disabled:hover {
    color: var(--lkt-btn-color-disabled-hover);
    background: var(--lkt-btn-bg-disabled-hover);
    border-color: var(--lkt-btn-border-color-disabled-hover);
    box-shadow: var(--lkt-btn-shadow-disabled-hover);
}

.lkt-button:focus {
    outline: 0;
    border: var(--lkt-btn-border-width-focus, var(--lkt-btn-border-width)) var(--lkt-btn-border-style-focus, var(--lkt-btn-border-style)) var(--lkt-btn-border-color-focus);
    box-shadow: var(--lkt-btn-shadow-focus);
}

.lkt-button:active {
    outline: 0;
    border: var(--lkt-btn-border-width) var(--lkt-btn-border-style) var(--lkt-btn-border-color-focus);
    box-shadow: var(--lkt-btn-shadow-focus);
}

.lkt-split-button-arrow {
    width: var(--lkt-button-split-arrow-width);
    height: 100%;
    background: var(--lkt-button-split-arrow-bg);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lkt-split-button-arrow:before {
    display: block;
    content: '';
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9Ii04LjUgMCAzMiAzMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNy4yOCAyMC4wNDBjLTAuMjQgMC0wLjQ0LTAuMDgwLTAuNi0wLjI0bC02LjQ0LTYuNDRjLTAuMzItMC4zMi0wLjMyLTAuODQgMC0xLjIgMC4zMi0wLjMyIDAuODQtMC4zMiAxLjIgMGw1Ljg0IDUuODQgNS44NC01Ljg0YzAuMzItMC4zMiAwLjg0LTAuMzIgMS4yIDAgMC4zMiAwLjMyIDAuMzIgMC44NCAwIDEuMmwtNi40NCA2LjQ0Yy0wLjE2IDAuMTYtMC40IDAuMjQtMC42IDAuMjR6Ij48L3BhdGg+Cjwvc3ZnPg==');
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
}

.lkt-split-button-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
}